<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationID</key>
	<string>ca-app-pub-0951032527002077~5254398214</string>
	<key>adUnitID</key>
	<string>ca-app-pub-0951032527002077/6731131411</string>
	<key>googleAdsTestDeviceIds</key>
	<array>
		<string>6c1c8f2f97fb194efe682f461ff23c47</string>
	</array>
	<key>identityPoolId</key>
	<string>eu-central-1:c42621ae-4a2e-49e0-bdbf-bbd496ece8ef</string>
</dict>
</plist>
